        @use "src/sass/abstracts/animations";

.container {
    height: 45px;
    width: 45px;
    border: 2px solid rgb(163, 163, 163);
    border-bottom: 2px solid #000;
    border-radius: 50%;
    animation: rotate 1s infinite ease-in-out;
}
