@mixin shrinkLabel {
    top: 0;
    opacity: 1;
    font-size: 13px;
}

.container {
    position: relative;
    margin-bottom: 30px;
    margin-top: 12px;
    .input {
        border-bottom: 1px solid black;
        height: 40px;
        width: 100%;
        &:focus {
            outline: none;
            box-shadow: none;

            ~ .label {
                @include shrinkLabel;
            }
        }
    }

    .label {
        transition: 0.3s;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        opacity: 0.5;

        &.active {
            @include shrinkLabel;
        }
    }
}
