.user{
  width: 100%;
  min-height: calc(100vh - 50px);


}
.verificate_message{
  width: 50%;
  display: flex;
  margin: 0 auto;
  color: #067fce;
  padding: 10px 0;
  line-height: 30px;
  letter-spacing: 1px;
  font-size: 25px;
  font-family: 'Prompt', sans-serif;
  font-weight: normal;
  text-decoration: underline;
}