.ns-modal{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
  background: #c1f1f1;
  max-width: 400px;
  min-width: 300px;
  height: 100vh;
  transform: translateX(100%);
  display: flex;

  .close-modal{
    cursor: pointer;
    position: absolute;
    svg{
      width: 20px;
      height: 20px;
      color: white;
      margin:5px 10px;
    }
  }
  &__wrapper{
    flex: 1;
    padding:30px 5px 5px 20px;
  }
}
.open{
  transform: translateX(0%);
  transition: 0.5s;

}
.close{
  transform: translateX(100%);
  transition: 0.8s;

}
