.ns-modal {
    position: fixed;
    top: 0;
    left: 0;
    @include flex(center, flex-start);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9999;
    height: 100vh;
    width: 100vw;
    @include dynamicAppearance(0.3s);
    overflow: auto;

    &__overlay {
        // min: 60rem;
        @include modalStyle;
        padding: 3.5rem;
        @include flexColumn(center, center);
        margin: 3rem;
        margin-top: 15rem;
        transform: translateY(-7%);

        // .wrapper {
        //     overflow: auto;
        // }
    }

    &__header {
        font-size: 22px;
        text-align: center;
        max-width: 350px;
        margin: 0 auto;
    }

    &__body {
        margin: 2.5rem 1rem 0 1rem;
    }
}
