@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Prompt:wght@100;200;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.App {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}
.message-button{
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9998;
  cursor: pointer;
  svg{
    width: 50px;
    height: 50px;
    background: white;
  }
}
header a.active{
  background: #066f7d;
  color: white;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
